@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
/* Stile generale */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 72px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}
.navbar .info-links{
    display: flex;
    align-items: center;
    gap: 4rem; /* gap between logo and links*/
}
.navbar .logo img {
    height: 6rem;
    width: 6rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    position: relative; /* Necessario per l'effetto hover */
    padding-bottom: 5px; /* Spazio per la barra */
}

/* Effetto hover con barra verde */
.nav-links li a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; /* Spessore della barra */
    background-color: #36a970;
    animation: slideIn 0.3s ease-out; /* Animazione */
}

/* Animazione (opzionale) */
@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.word-bold {
   font-weight: bolder; 
   color: #36a970;
}

.register-btn button {
    padding: 1rem 2rem;
    background-color: #36a970;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1.4rem;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color: #f4f4f4;
}

.hero-left {
    max-width: 50%;
    padding: 1rem;
}

.hero-left h1 {
    font-size: 3rem;
    color: #333;
}

.hero-left p {
    font-size: 0.8rem;
    margin: 1.5 rem;
}

.hero-left button {
    padding: 1rem 2rem;
    background-color: #36a970;
    font-size: 1rem;
    color: white;
    border-radius: 1.4rem;
    border: none;
    cursor: pointer;
}

.hero-right img {
    max-width:100%;
    width: 21rem;
    height: 21rem;
    top: 12rem;
    right: 4rem;
    position: absolute;

}

/* Footer */
.footer {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
    font-size: 1rem;
}
